MidiLegend_Basecode/SDL2
MidiLegend_Basecode/SDL2_image
MidiLegend_Basecode/SDL2_mixer
MidiLegend_Basecode/SDL2_ttf
MidiLegend_Basecode/x64
MidiLegend_Basecode/.vs

MidiLegend_Basecode/MidiLegend/x64

MidiLegend_Basecode/.vs/MidiLegend/v17/Browse.VC.db
